{{ define "base" }}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Covid-19</title>
        <!-- Bootstrap core CSS -->
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <link rel='shortcut icon' href='/static/img/favicon.svg' type='image/x-icon'>
        <!-- Custom styles for this template -->
        <link href="/static/css/headers.css" rel="stylesheet">
    </head>
    <body>
        {{ template "header" }}
        <main>
            {{ template "main" . }}
        </main>
        {{ template "footer" }}
    </body>
</html>
{{end}}
