{{template "base" .}}

{{define "title"}}Covid-19{{end}}

{{define "main"}}
      <div class="container">
        <form action="/query" method="POST">
          <div class="row">
            <div class="col-md-4">
              <label for="dateFrom" class="form-label">Date from:</label>
              <input type="date" name="dateFrom" id="dateFrom" class="form-control">          
            </div>
            <div class="col-md-4">
              <label for="dateTo" class="form-label">Date to:</label>
              <input type="date" name="dateTo" id="dateTo" class="form-control">          
            </div>      
          </div>
          <br />
          <div class="row">
            <div class="col-md-4">
              <label for="countrySelect" class="form-label">Country:</label>
              <select class="form-select" name="countrySel" id="countrySelect" aria-label="A choose of countrues">
                <option selected>Choose a country</option>
                <option value="RUS">Russia</option>
                <option value="IRL">Ireland</option>
                <option value="GER">Germany</option>
              </select>
            </div>
            <div class="col-md-4">
              <label class="form-label">Order by:
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="radioDD" value="date_value" id="radioDate">
                  <label class="form-check-label" for="radioDate">
                    date
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="radioDD" value="deaths" id="radioDeaths" checked>
                  <label class="form-check-label" for="radioDeaths">
                    deaths
                  </label>
                </div>
              </label>
            </div>
          </div>      
          <div class="row">
            <div class="col-md-3">
              <button type="submit" class="w-50 btn btn-primary">Apply</button>
            </div>
          </div>
        </form>
        <br />
      <div class="table-responsive">
        <table class="table align-middle">
          <thead>
            <tr>
              <th>data_value</th>
              <th>confirmed</th>
              <th>deaths</th>
              <th>stringency_actual</th>
              <th>stringency</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>01.01.2021</td>
              <td>10</td>
              <td>11</td>
              <td>5</td>
              <td>6</td>
            </tr>
            <tr>
              <td>02.01.2021</td>
              <td>4</td>
              <td>3</td>
              <td>11</td>
              <td>8</td>
            </tr>
            <tr>
              <td>03.01.2021</td>
              <td>7</td>
              <td>9</td>
              <td>7</td>
              <td>9</td>
            </tr>
          </tbody>
        </table>
      </div>
      </div>
{{end}}
